/* Global */
body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    position: sticky;
    margin: 10px;
}
header img {
    width: 80px;
}
nav a {
    padding: 0 0 0 5px;
}

/* Main */
main {
    height: 100vh;
    padding: 2.5em;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    background-color: #fff;
}